body{
	font-family: 'Droid Sans', sans-serif;
	background-color: #fff;
	font-size: 8px;
	line-height: 15px;
	text-align: justify; 
}
h1 {
    text-align:left;
    font-size:11px;
    text-transform:uppercase;
    letter-spacing:1px;
}

aside{
    float:right;
    width: 25%;
    background-color: aliceblue;
}   

a{
    color:black;
    text-decoration: none;
    font-weight:500;
}

a:hover{
    font-weight:bold;
    color: blue;
}

article {


    padding: 5px;
    margin-right: 5px;
    margin-bottom:10px;
    background-color:aliceblue;
    align-self: top;
    display: inline-table;
}

article {
	width: 350px;
	
	background-color: #fff;
}



nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
section{
    float: left;
    max-width: 74%;
}